.idea/bill-buddy.iml
.idea/misc.xml

mediafiles/
*/__pycache__/*
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ignore PyCharm project files
.idea/*

# Ignore Python bytecode files
**/__pycache__/**
*.pyc

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
